<p style="color: green"><%= notice %></p>

<%= render @job_histories_technologies %>

<div>
  <%= link_to "Edit this job histories technologies", edit_job_histories_technologies_path(@job_histories_technologies) %> |
  <%= link_to "Back to job histories technologies", job_histories_technologies_index_path %>

  <%= button_to "Destroy this job histories technologies", @job_histories_technologies, method: :delete %>
</div>
